<%- include('header') %>

<p>
  Sorry, we have some technical problems! Please contact the administrator and include the error message below.
</p>

<p>
  <%= locals.message %>
</p>

<%- include('footer') %>
