<%
  for (let lang in (abstract || {})) {
    for (let text of abstract[lang]) {
%>
 <p lang="<%= lang %>" style="padding: .75rem; margin: 0;">
  <%- String(text).split(/\n+/).map(utils.escapeXML).join("</p><p>") %>
 </p>
<%
   }
  }
%>
