    </div>
    <footer class="container-fluid text-secondary bg-dark clearfix">
      <div class="container">
        <p>
          <%= config.name %> data is made available under the
          <a href="<%= config.license.url %>"><%= config.license.name %></a>
          <br/><a href="/download">download</a>
        </p>
      </div>
    </footer>
  </body>
</html>
