<%
if (list && list.length) {
  let style = locals.style || "unstyled"
  let view = locals.view || utils.escapeXML
  let link = s => s
  if (locals.link) {
    link = (s) => {
      if (!s.match(/^https?:\/\//)) {
        return s
      }
      let html = `<a href="${s}"`
      if (!s.startsWith(config.baseUrl)) {
        html += " target=\"blank\""
      }
      html += `>${s}</a>`
      return html
    }
  }
  let items = style === "inline"
    ? list.map(view).map(link).map(item => `<li class="list-inline-item">${item}</li>`)
    : list.map(view).map(link).map(item => `<li>${item}</li>`)
  let content = `<ul class="list-${style}">${items.join("\n")}</ul>`
%>
  <%- include('row', { content }) %>
<% } %>
