<% if (content && content.trim()) { %>
 <tr>
  <td>
   <% if (locals.icon) { %>
    <i class="fas fa-<%- icon %>"></i>
   <% } %>
   <%- label %>
  </td>
  <td>
   <%- content %>
  </td>
 </tr>
<% } %>
