footer {
  padding: 25px 0 55px 0;
}
footer a {
  color: #fff;
}
header {
  margin-bottom: 1.5em;
}
.bg-primary {
  background-color: #961300!important;
}
.main-form label {
  font-weight: bold;
}
small.label-help {
  margin-top: -.5rem;
  margin-bottom: 0.25rem;
}
ul.list-inline > li.list-inline-item:not(:last-child)::after {
  content: ","
}
ul.list-inline > li.list-inline-item:not(:last-child) {
  margin-right: 0;
}
td > ul {
  margin-bottom: 0;
}
ul.pagination > li:not(:last-child)::after {
  content: "\00a0|\00a0";
}
li.current-page {
  font-weight: bold;
}

label { font-weight: bold; }
[v-cloak] { display: none; }
