version: "3"

services:
  bartoc:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    depends_on:
      - mongo
    volumes:
      - ./data/config:/config
      - ./data/dumps:/usr/src/app/bartoc/data/dumps
      - ./data/reports:/usr/src/app/bartoc/data/reports
    environment:
      # BASE_URL is required and will be used for both BARTOC and JSKOS Server
      - BASE_URL=http://localhost:3883/
    ports:
      - 3883:3883
    restart: unless-stopped

  # MongoDB required for JSKOS Server; you can use an external MongoDB as well (needs to be configured in data/config/jskos-server.json)
  mongo:
    image: mongo:7
    volumes:
      - ./data/db:/data/db
    restart: unless-stopped
